.borda{
    border: 1px solid red;
}

.azul{
    background: blue;
    display: inline-block;
}
.vermelho{
    background: red;
    display: inline-block;
}
.verde{
    background: green;
    display: inline-block;
}
div{
    width: 150px;
    height: 150px;
}
a.botao{
    text-decoration: none;
    color: black;
    margin: 100px;
    width: 50%;
    height: 50%;
    display: inline-block;
    text-align: center;
}
a.botao:hover{
    background: red;
}